
.hero {
    padding-top: 32px;
    padding-bottom: 32px;  
}

.hero__wrapper {
    display: flex;
    column-gap: 32px;
}

.hero-start {
    max-width: 640px;
    width: 100%;
    border-radius: 10px;
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-color: #54a6ff;
    padding-top: 24px;
    padding-right: 332px;
    padding-bottom: 112px;
}

.hero-start__wrapper {
    max-width: 284px;
    width: 100%;
}



.hero-start__title {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 150%; /* 48px */
    letter-spacing: -0.96px;
}

.hero-start__text {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
}

.hero-start__link {
    display: flex;
    justify-content: center;
    max-width: 120px;
    width: 100%;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    background-color: #3563e9;
    border-radius: 4px;

}

.hero__end {
    max-width: 640px;
    width: 100%;
    border-radius: 10px;
    background-color: #3563e9;
    background-image: url("/images/bg2.png");
    background-repeat: no-repeat;
    padding-top: 24px;
    padding-right: 332px;
    padding-bottom: 112px;

}

.hero-end__wrapper {
    max-width: 284px;
    width: 100%;
}

.hero-end__title {
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-size: 32px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    line-height: 150%; /* 48px */
    letter-spacing: -0.96px;
}

.hero-end__text {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    line-height: 150%; /* 24px */
    letter-spacing: -0.32px;
}

.hero-end__link {
    display: flex;
    justify-content: center;
    max-width: 120px;
    width: 100%;
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    background-color: #54a6ff;
    border-radius: 4px;
}

